<template>
  <div id="<%=kebabCaseName%>">
    {{message}}
  </div>
</template>

<script>
  export default {
    name: "<%=name%>",
    components: {},
    data() {
      return {
        message: "<%=name%>"
      }
    },
  }
</script>

<style scoped lang="less">

</style>